## Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [1]:
import pandas as pd # <импорт библиотеки pandas>

Прочитаем файл *'/datasets/data.csv'* и сохраним его в переменной *data*.

In [2]:
data = pd.read_csv('/datasets/data.csv')  # <чтение файла с данными с сохранением в data>

Получение первых 10 строк таблицы.

In [3]:
data.head(10) # <получение первых 10 строк таблицы data>

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

Общая информация о данных таблицы data.

In [4]:
data.info() # <получение общей информации о данных в таблице data>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

###### Рассмотрим полученную информацию подробнее.

Всего в таблице 12 столбцов, тип данных различается:
*  5 столбцов - object (строка)
*  5 столбцов - int64 (целые числа)
*  2 столбца - float64 (вещественные числа)

Подробно разберём, какие в *data* столбцы и какую информацию они содержат:
* children — количество детей в семье
* days_employed — общий трудовой стаж в днях
* dob_years — возраст клиента в годах
* education — уровень образования клиента
* education_id — идентификатор уровня образования
* family_status — семейное положение
* family_status_id — идентификатор семейного положения
* gender — пол клиента
* income_type — тип занятости
* debt — имел ли задолженность по возврату кредитов
* total_income — ежемесячный доход
* purpose — цель получения кредита

Количество значений в столбцах различается. Это говорит о том, что в данных есть non-null значения.

### Вывод

Каждая строка таблицы содержит информацию о платёжеспособности клиентов. 
Есть несколько проблем, которые нужно решить:
1. Пропуски в столбцах: days_employed и total_income
2. Отрицательные значениея в стобце days_employed
3. Разный регистр в значения стобца education

### Шаг 2. Предобработка данных

### Обработка пропусков

Проверим данные на наличие пропусков вызовом набора методов для суммирования пропущенных значений.

In [5]:
data.isnull().sum() # <суммарное количество пропусков, выявленных методом isnull() в таблице data>

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Видим 2174 пустых значения в столбцах days_employed и total_income. Удаление 10.1 % таких строк повлияет на результат задачи в целом. Пропуски в количественных переменных заполняют характерными значениями. Чтобы примерно оценить типичные значения выборки, воспользуемся методом среднее арифметическое.

In [6]:
# Применяю метод .abs() для перевода отрицательных чисел в положительные
data['days_employed'] = data['days_employed'].abs()

Для заполнения пустых значений в столбце days_employed распределим клиентов на три возрастные категории:

- Клиенты младше 18 лет попадают в категорию «дети»;
- Клиенты от 19 до 64 лет — категория «взрослые»;
- Клиенты старше 65 лет в категорию «пенсионеры».

Каждой возрастной категории посчитаем среднее значение стажа работы, а затем в соответствии среднего стажа и возрастной категории, заменим пропуски в столбце days_employed.

In [7]:
# Создадим функцию age_group(dob_years)
# На вход функции попадает возраст, а возвращает она возрастную категорию клиента. Опишем функцию:

def age_group(dob_years):
        """
        Возвращает возврастную группу по значению возраста age, используя правила:
        - 'дети' при значении age < 18 лет
        - 'взрослые' при значениии age более 18 и менее 64, включая 64
        - 'пенсионеры' во всех остальных случаях
        """
        if dob_years < 18:
                return 'дети'
        if dob_years <= 64:
                return 'взрослые'
        return 'пенсионеры'
    
# Создадим столбец age_group в котором будет отражена возрастная категория клиента
# Для применения функции age_group к столбцу dob_years, используем метод .apply()
data['age_group'] = data['dob_years'].apply(age_group)

# Для каждой возрастной группы рассчитаем средний стаж работы.
# Заменим пропуски в соответствии среднего стажа для каждой возрастной категории
# Применим метод groupby он позволяет нам агрегировать age_group 
# В метод agg() мы передаем словарь соответствия названия колонки и той агрегирующей функции, которую мы хотим применить 
# В нашем случае мы для каждой возрастной категории хотим вычислить среднее значение (mean) по полю days_employed
# Для заполнения пропусков воспользуемся методом .fillna()

mean_age_table = data.groupby(['age_group']).agg({'days_employed' : 'mean'})

for age_type in mean_age_table.index:
    data.loc[data['age_group'] == age_type,'days_employed']=data.loc[data['age_group'] == age_type,'days_employed'].fillna(mean_age_table.loc[age_type, 'days_employed'])
mean_age_table

            days_employed
age_group
взрослые     55938.785436
дети         69516.105102
пенсионеры  314080.528722

Для замены пропусков в столбце total_income, посчитаем средний доход для каждого типа занятности.

In [8]:
# Рассмотрим типы занятности в столбце income_type, проверим на наличие задвоений.
# Применим метод .value_counts() для просмотра уникальных значений в столбце income_type
data['income_type'].value_counts()

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
предприниматель        2
безработный            2
студент                1
в декрете              1
Name: income_type, dtype: int64

In [9]:
# Для каждого типа занятности рассчитаем средний доход.
# Заменим пропуски в соответствии среднего дохода для каждого типа занятности
# Применим метод groupby он позволяет нам агрегировать income_type 
# В метод agg() мы передаем словарь соответствия названия колонки и той агрегирующей функции, которую мы хотим применить 
# В нашем случае мы для каждого уникального income_type хотим вычислить среднее значение (mean) по полю total_income
#Для заполнения пропусков воспользуемся методом .fillna()

median_table = data.groupby(['income_type']).agg({'total_income' : 'median'})
for inc_type in median_table.index:
    data.loc[data['income_type'] == inc_type,'total_income']=data.loc[data['income_type'] == inc_type,'total_income'].fillna(median_table.loc[inc_type, 'total_income'])
median_table

                  total_income
income_type
безработный      131339.751676
в декрете         53829.130729
госслужащий      150447.935283
компаньон        172357.950966
пенсионер        118514.486412
предприниматель  499163.144947
сотрудник        142594.396847
студент           98201.625314

После замены пустых значений нужно убедиться, что таблица больше не содержит пропусков.

In [10]:
# Проверка
data.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
age_group           0
dtype: int64

### Вывод

Трудовой стаж и ежемесячный доход  — количественные переменные. Пропуски в таких переменных заполняют характерными значениями. Чтобы оценить значения, мы посчитали среднее арифметическое для каждой возрастной категории и типа занятности.

### Замена типа данных

In [11]:
# Перименим  методом astype(). Например, аргумент ('int') 
# Метода astype() означает, что значение нужно перевести в целое число:

data['days_employed'] = data['days_employed'].astype('int')

In [12]:
# Перименим  методом astype(). Например, аргумент ('int') 
# Метода astype() означает, что значение нужно перевести в целое число:

data['total_income'] = data['total_income'].astype('int')

In [13]:
# Проверяем полученный результат, вызвав метод .info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 13 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
age_group           21525 non-null object
dtypes: int64(7), object(6)
memory usage: 2.1+ MB

### Вывод

В столбце days_employed значения привели к типу int. Странно, что стаж работы указан в днях. Дальнейшее рассмотрение их считаю не обязательным, на стоящие перед нами вопросы данные не влияют.

### Обработка дубликатов

In [14]:
# Проверка, что все названия сведены к нижнему регистру
data['education'].value_counts()

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
УЧЕНАЯ СТЕПЕНЬ             1
Ученая степень             1
Name: education, dtype: int64

In [15]:
# Переведем названия типов занятости в нижний регистр методом str.lower()
data['education'] = data['education'].str.lower()

In [16]:
# Применим метод .value_counts() к столбцу education. 
data['education'].value_counts()

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

In [17]:
# Посчитаем количество дубликатов в таблице data
data.duplicated().sum()

71

In [18]:
# Удаление всех дубликатов из таблицы data специальным методом .drop_duplicates()
data = data.drop_duplicates().reset_index(drop=True)

In [19]:
# Проверка
data.duplicated().sum()

0

In [20]:
# Код ревьюера
data.duplicated().sum()

0

### Вывод

Применив метод duplicated().sum() мы обнаружили 71 дубликат. Так как кол-во дубликатов небольшое, можно их удалить без вреда для дальнейшего анализа. В столбце education данные записаны разным регистром, привели их общему регистру.

### Лемматизация

Для ответа на поставленный вопрос, как разные цели кредита влияют на его возврат в срок?
Необходимо изучить цели кредита для объединения данных в категории. Применим лемматизацию для столбца purpose, посчитаем леммы и категоризируем.

In [21]:
# импортировать библиотеку pymystem3.
from pymystem3 import Mystem
m = Mystem()
data['lemma_purpose'] = data['purpose'].apply(m.lemmatize)
# Проверка 
data['lemma_purpose']

0                             [покупка,  , жилье, \n]
1                   [приобретение,  , автомобиль, \n]
2                             [покупка,  , жилье, \n]
3                [дополнительный,  , образование, \n]
4                           [сыграть,  , свадьба, \n]
                             ...
21449                  [операция,  , с,  , жилье, \n]
21450               [сделка,  , с,  , автомобиль, \n]
21451                              [недвижимость, \n]
21452    [на,  , покупка,  , свой,  , автомобиль, \n]
21453             [на,  , покупка,  , автомобиль, \n]
Name: lemma_purpose, Length: 21454, dtype: object

In [22]:
# Посчитаем кол-во вхождений каждой отдельной леммы. 
# Так мы сможем наглядно определить самые частые слова и на основе их категоризировать цели клиентов
from collections import Counter
Counter(data['lemma_purpose'].sum())

Counter({'покупка': 5897,
         ' ': 33570,
         'жилье': 4460,
         '\n': 21454,
         'приобретение': 461,
         'автомобиль': 4306,
         'дополнительный': 906,
         'образование': 4013,
         'сыграть': 765,
         'свадьба': 2324,
         'операция': 2604,
         'с': 2918,
         'на': 2222,
         'проведение': 768,
         'для': 1289,
         'семья': 638,
         'недвижимость': 6351,
         'коммерческий': 1311,
         'жилой': 1230,
         'строительство': 1878,
         'собственный': 635,
         'подержать': 478,
         'свой': 2230,
         'со': 627,
         'заниматься': 904,
         'сделка': 941,
         'подержанный': 486,
         'получение': 1314,
         'высокий': 1374,
         'профильный': 436,
         'сдача': 651,
         'ремонт': 607})

### Вывод

В полученных данных можно выделить основные цели кредитов:
- покупка недвижимости
- покупка автомобиля
- сыграть свадьбу
- образование

### Категоризация данных

Объединим некоторые данные в категории для дальнейшего анализа.

In [23]:
# Категоризируем клиентов в зависимости от цели, используем леммы в столбце lemma_purpose
def categorizer(row):
    if 'свадьба' in row:
        return 'свадьба'
    elif 'жилье' in row or 'недвижимость' in row:
        return 'покупка недвижимости'
    elif 'автомобиль' in row:
        return 'покупка автомобиля'
    else:
        return 'образование'
    
data['purpose_category'] = data['lemma_purpose'].apply(categorizer)
data['purpose_category'].value_counts() # Проверка значений в столбце purpose_category

покупка недвижимости    10811
покупка автомобиля       4306
образование              4013
свадьба                  2324
Name: purpose_category, dtype: int64

In [24]:
# Изучим столбец children, используя метод .value_counts()
data['children'].value_counts()

 0     14091
 1      4808
 2      2052
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

В столбце children присутствует артефакты и отрицательные значения.
В столбце максимальное кол-во детей 5, а 20 - артефакт, вероятно появился по причине человеческого фактора.
Считаю правильным исправить 20 на 2.
Отрицательные значения в столбце children, возможно техническая ошибка. Её можно исправить, применив метод .abs()

In [25]:
data['children'] = data['children'].abs() # Для перевода -1 в положительное значение
data['children'] = data['children'].replace(20,2) # Для замены артефакта применю метод .replace()
data['children'].value_counts() # Проверка значений в столбце children

0    14091
1     4855
2     2128
3      330
4       41
5        9
Name: children, dtype: int64

In [26]:
# Категоризируем клиентов по наличию детей, используем значения в столбце children
def children_group(children):
        """
        Возвращает группу клиентов с детьми по значению кол-ва children, используя правило:
        - 'нет детей' при значении children = 0 детей
        - 'есть дети' во всех остальных случаях
        """
        if children == 0:
                return 'нет детей'
        return 'есть дети'
    
data['children_group'] = data['children'].apply(children_group)
data['children_group'].value_counts()

нет детей    14091
есть дети     7363
Name: children_group, dtype: int64

Создадим категорию для клиентов по признаку семейное положение.

In [27]:
# Создадим словарь и оптимизируем данные family_status
data_family_status = data[['family_status','family_status_id']]
data_family_status = data_family_status.drop_duplicates().reset_index(drop=True)
data_family_status.sort_values('family_status_id')

           family_status  family_status_id
0        женат / замужем                 0
1       гражданский брак                 1
2         вдовец / вдова                 2
3              в разводе                 3
4  Не женат / не замужем                 4

In [28]:
# Категоризирую клиентов по наличию задолженности по кредиту
def check_debt(row):
   
    debt_group = row['debt']
   
    if debt_group == 0:
        return 'no_debt'
    else:
        return 'debt'

data['debt_group'] = data.apply(check_debt, axis =1)

In [29]:
# Применим метода .describe() для дальнейшей категоризации клиентов по уровню дохода
data['total_income'].describe().apply(lambda x: format(x, 'f'))

count      21454.000000
mean      165319.572294
std        98187.303486
min        20667.000000
25%       107623.000000
50%       142594.000000
75%       195820.250000
max      2265604.000000
Name: total_income, dtype: object

In [30]:
# Категоризируем клиентов по уровню дохода, используем значения в столбце total_income

def categorizer_total_income(total_income):
        """
        Возвращает количество пользователей в зависимости от уровня дохода по значению категории total_income, используя правила:
        - 'высокий' при значении total_income >= 200000
        - 'низкий' при значении total_income <= 100000
        - 'средний' при всех остальных значениях
        """

        if total_income >= 200000:
                return 'высокий'
        
        if total_income <= 100000:
            return 'низкий'
        
        return 'средний'
    
data['total_income_group'] = data['total_income'].apply(categorizer_total_income)
data['total_income_group'].value_counts()

средний    11924
высокий     5067
низкий      4463
Name: total_income_group, dtype: int64

### Вывод

Приходится много категоризовать для дальнейшего анализа данных и решения поставленных задач.

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [31]:
# Задолженность клиентов имеющих детей
data_pivot_children = data.pivot_table(index=['children_group'], columns='debt_group', values='debt', aggfunc='count')
print(data_pivot_children)

print('-------'*12)

table_children = data.groupby(['children_group']).agg({'debt' : ['sum','count']})
table_children['percent'] = table_children['debt']['sum'] / table_children['debt']['count'] * 100 # определим % кредитов, выплаты по которым происходят в срок (в разрезе категории)
print(table_children.sort_values(by='percent', ascending=False))

debt_group      debt  no_debt
children_group
есть дети        678     6685
нет детей       1063    13028
------------------------------------------------------------------------------------
                debt          percent
                 sum  count
children_group
есть дети        678   7363  9.208203
нет детей       1063  14091  7.543822

### Вывод

Наличие детей снижает платежеспособность клиентов. Это видно из полученных результатов:
- Процент кредитов с задолженностью у клиентов с детьми: 9.2%
- Процент кредитов с задолженностью у клиентов без детей: 7.5%

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [32]:
# Задолженность между клиентами имеющих семью и без семьи
data_pivot_family = data.pivot_table(index=['family_status'], columns='debt_group', values='debt', aggfunc='count')
print(data_pivot_family)

print('-------'*12)

table_family = data.groupby(['family_status']).agg({'debt' : ['sum','count']})
table_family['percent'] = table_family['debt']['sum'] / table_family['debt']['count']* 100 # определим % кредитов, выплаты по которым происходят в срок (в разрезе категории)
print(table_family.sort_values(by='percent', ascending=False))

debt_group             debt  no_debt
family_status
Не женат / не замужем   274     2536
в разводе                85     1110
вдовец / вдова           63      896
гражданский брак        388     3763
женат / замужем         931    11408
------------------------------------------------------------------------------------
                      debt          percent
                       sum  count
family_status
Не женат / не замужем  274   2810  9.750890
гражданский брак       388   4151  9.347145
женат / замужем        931  12339  7.545182
в разводе               85   1195  7.112971
вдовец / вдова          63    959  6.569343

### Вывод

Процент задолженности по кредитам у клиентов со статусом семейного положения:

 - Не женат / не замужем: 9.7%
 - гражданский брак: 9.3%
 - женат / замужем: 7.5%
 - в разводе: 7.1%
 - вдовец / вдова: 6.5%

Клиенты со статусом "Не женат / не замужем, гражданский брак" имеют высокий процент задолженности по кредитам. В целом, здесь видно, что наиболее надежные заемщики, это те, кто находится или когда-либо был в браке.

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [33]:
# Задолженность клиентов по уровню дохода 
data_pivot_income = data.pivot_table(index=['total_income_group'], columns='debt_group', values='debt', aggfunc='count')
print(data_pivot_income)

print('-------'*12)

income_group = data.groupby(['total_income_group']).agg({'debt' : ['sum','count']})
income_group['percent'] = income_group['debt']['sum'] / income_group['debt']['count']* 100 # определим % кредитов, выплаты по которым происходят в срок (в разрезе категории)
print(income_group.sort_values(by='percent', ascending=False))

debt_group          debt  no_debt
total_income_group
высокий              358     4709
низкий               354     4109
средний             1029    10895
------------------------------------------------------------------------------------
                    debt          percent
                     sum  count
total_income_group
средний             1029  11924  8.629654
низкий               354   4463  7.931884
высокий              358   5067  7.065325

### Вывод

Процент задолженности  по кредиту от уровня доходов клиента:
- Процент кредитов с задолженностью у клиентов с высоким доходом: 7%
- Процент кредитов с задолженностью у клиентов с средним доходом: 8.6%
- Процент кредитов с задолженностью у клиентов с низким доходом: 7.9%

Клиенты с высоким уровнем дохода имеют низкий процент задолженности по кредитам, чем клиенты с низким и средним уровнем дохода.

- Как разные цели кредита влияют на его возврат в срок?

In [34]:
# Задолженность клиентов банка в зависимости от цели кредита
data_pivot_purpose = data.pivot_table(index=['purpose_category'], columns='debt_group', values='debt', aggfunc='count')
print(data_pivot_purpose)

print('-------'*12)

purpose_group = data.groupby(['purpose_category']).agg({'debt' : ['sum','count']})
purpose_group['percent'] = purpose_group['debt']['sum'] / purpose_group['debt']['count']* 100 # определим % кредитов, выплаты по которым происходят в срок (в разрезе категории)
print(purpose_group.sort_values(by='percent', ascending=False))

debt_group            debt  no_debt
purpose_category
образование            370     3643
покупка автомобиля     403     3903
покупка недвижимости   782    10029
свадьба                186     2138
------------------------------------------------------------------------------------
                     debt          percent
                      sum  count
purpose_category
покупка автомобиля    403   4306  9.359034
образование           370   4013  9.220035
свадьба               186   2324  8.003442
покупка недвижимости  782  10811  7.233373

### Вывод

Очевидно, что присутствует зависимость возврата кредита в срок от его цели:
- Процент кредитов с задолженностью у клиентов с целью приобретение автомобиля: 9.3%
- Процент кредитов с задолженностью у клиентов с целью оплаты образования: 9.2%
- Процент кредитов с задолженностью у клиентов с целью сыграть свадьбу: 8%
- Процент кредитов с задолженностью у клиентов с целью покупка недвижимости: 7.2%

Самая низкая задолженность у клиентов, которые приобретают недвижимость. Возможно, это связано с тем, что недвижимость - долгосрочный и дорогой объект. В связи с этим  клиенты более ответственно подходят к приобретению недвижимости.
Самая высокая задолженность по кредитам у клиентов, которые приобретают автомобиль. Причины задолженности могут быть разные. Возможно, одной из причин является, что приобретая автомобиль у клиентов банка появляются дополнительные расходы на содержание автомобиля. Вследствие этого они не всегда вовремя платят кредит.

### Шаг 4. Общий вывод

В полученных данных от банка о платёжеспособности клиентов в процессе предобработки данных выявили ряд недостатков: 
- Не корректные значения (пропуски, недопустимые значения, выбросы)
- Дубликаты
- Не верный тип данных
- Категориальные признаки (не оптимальное число категорий, проблемы с регистром)

После обработки данных, мы приступили к анализу, входе которого получили несколько интересных выводов:
- наличие детей у клиентов влияет на возврат задолженности в срок
- зависимости между семейным положением и возвратом кредита в срок не наблюдается
- клиенты с высоким уровнем дохода имеют низкий процент задолженности по кредитам
- разные цели кредита влияют на его возврат в срок